div .trackDiv {
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    /* padding-left: 20px; */
    text-align: left;
    display: flex;
    cursor: pointer;
}

li {
    /* list-style-type: none; */
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.trackDiv img {
    max-width: 64px;
}

.trackDiv .trackName {
    font-size: 20px;
}

.trackDivDetails {
    margin-left: 10px;
}