body {
  background-color: #191414;
  color: white;
}

.App {
  display: flex;
}

h1 {
  margin: 8px 0px;
}

h2 {
  margin: 5px 0px;
}

#sidebarDiv {
  width: 500px;
  margin: 0px 10px;
}

#trackPlayingDiv {
  /* position: fixed; */
  /* bottom: 0; */
  /* height: 10vh; */
  background-color: #161515;
  max-width: 240px;
  margin-top: 10px;
  padding-top: 10px;
}

#NewPlaylistDiv .musicList {
  background-color: #6c757d;
}

#recommendationBtnDiv {
  display: flex;
  justify-content: center;
}

.musicList {
  padding: 5px;
  margin: 5px;
  min-height: 400px;
  width: 220px;
}

.musicList p {
  text-align: center;
}

.musicList p {
  margin: 1px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.LoginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #1DB954;
  display: inline-block;
  border: none;
  padding: 3px 10px;
  margin: 0px 5px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  transform: translateY(-1px);
  color: rgb(0, 0, 0, 1);
}

#loginBtn {
  background-color: #1DB954;
  margin: 5px;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
  color: black;
  /* cursor: pointer; */
}

#loginBtn:hover {
  transform: scale(1.02);
  color: rgb(0, 0, 0, 1);
}

.LoginDiv a {
  text-decoration: none;
  color: inherit;
}

#sidebarDiv {
  max-width: 250px;
}

.toggleShow {
  color: #1DB954;
}